/*removendo a margem e o espaçamento interno de toda a página*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Criando um padrão da fonte importada para utilizar na página*/
@font-face {
    font-family: 'jogos';
    src: url(fontes/HeadlinerNo.45\ DEMO.ttf);
    font-weight: normal;
  }
  
  /*Criando uma variável da fonte importada para utilizar no css*/
  :root{
    --fonte-padrao: 'jogos', cursive;
  }

  /*Alterando a cor da fonte de todos os h1 da página*/
  h1{
    color: white;
  }
  
/*Adicionando uma largura de 100% e uma altura de 100vh para usar um layout responsivo dentro da página*/
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 22, 22); /*Alterando a cor de fundo da página*/ /*Alterando a cor de fundo da página*/
    font-family: var(--fonte-padrao); /*Aplicando a fonte importada em toda a página*/
}
.navbar{
    background-color: rgb(32, 32, 32); /*Definindo a cor de fundo da barra de menu*/
}


.navbar-brand{ 
    font-size: 26px;
    font-weight: bold
}

.navbar-nav {
    margin: auto;
}

.btn{
    border: 1px solid black;
    background-color: rgb(238, 147, 11); /*Adicionando uma cor de fundo*/
    color: black;
}

.form-inline button:hover{
    border: 1px solid rgb(238, 147, 11);
    background-color: white;
    color:  rgb(238, 147, 11);;
}

.collapse .nav-link{
    font-size: 22px;
}
.navbar-toggler{
    background-color: rgb(238, 147, 11);
    border-radius: 10px;
   
}

.navbar-toggler:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
   
}
.nav-item:hover{
    text-decoration: underline;
    color: rgb(238, 147, 11);
}



.container{
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
} 
.container a{
    color:rgb(255, 255, 255);
    font-size: 20px;
}
.container a:hover{
    text-decoration: underline;
    color: rgb(238, 147, 11);
}

#todosJogos{
    position: relative; /*Deixando a posição da div relativa*/
    top: 5vh; /*Definindo uma distância do topo*/
    width: 70%; /*Definindo uma largura*/
    min-width: 380px; /*Definindo uma largura mínima que poderá ocupar*/
    height: 100vh; /*Definindo uma altura*/
    margin: auto; /*Deixando a margem automática para que se ajuste sozinha*/
    display: flex; /*Deixando o display flexível para usar layout responsivo*/
    justify-content: center; /*Alinhando itens no centro em relação à horizontal */
    flex-wrap: wrap; /*Forçando os itens a quebrarem quando chegar em uma largura mínima*/
}

.h1{
    position: relative; /*Deixando a posição relativa*/
    top: 2vh; /*aplicando uma distância no topo*/
    width: 90%; /*Definindo para ocupar toda a largura*/
    background-color: rgb(32, 32, 32); /*Aplicando uma cor de fundo*/
    color: rgb(238, 147, 11); /*aplicando uma cor da fonte*/
    text-align: center; /*Alinhando os itens no centro em relação à vertical*/
    margin: 0;
}

/*Aplicando estilo na div lista que contém as plataformas dos jogos*/
.lista{
    padding: 6px;
    width: 80%; /*Preenchendo toda a largura*/
    margin: auto; /*Deixando a margem automática para que se ajuste sozinha*/
    background-color: rgb(32, 32, 32); /*Definindo uma cor de plano de fundo*/
    border-radius: 20px; /*Deixando a borda redonda*/
}


/*Aplicando estilo nos links dentro da lista de plataformas*/
.lista a{
    text-decoration: none; /*Removendo decoração dos links*/
    color:rgb(255, 255, 255); /*Definindo uma cor da fonte*/
    font-size: 20px; /*Aumentando o tamanho da fonte*/
}

/*Aplicando um sublinhando nos links e uma cor da fonte ao passar o mouse por cima*/
.lista a:hover{
    text-decoration: underline;
    color: rgb(238, 147, 11);
}

/*Aplicando estilo na div que contém os jogos*/
.jogos{
    position: relative; /*Deixando a posição relativa*/
    top: 5vh; /*Aplicando um espaço no topo*/
    width: 100%; /*Definindo uma largura*/
    display: flex; /*Deixando o display flexível para utilizar layout responsivo*/
    flex-wrap: wrap; /*Forçando os itens a quebrarem quando chegarem em sua largura mínima*/
}

/*Aplicando um estilo na lista não ordenada que contém os jogos*/
.jogos ul{
    display: flex; /*Deixando o display flexível para usar layout responsivo*/
    flex-wrap: wrap; /*Forçando os itens a quebrarem quando chegarem em sua largura mínima*/
    justify-content: center; /*Aliando os itens no centro em relação à vertical*/
    width: 100%; /*Preenchendo toda a largura*/
}

/*Aplicando estilo nos itens da lista não ordenada que contém os jogos*/
.jogos li{
    padding: 5px; /*Aumentando o espaçamento interno*/
    list-style-type: none; /*Removendo a decoração dos itens da lista*/
    color: rgb(238, 147, 11); /*Aplicando uma cor da fonte que será usada na legenda dos jogos*/
    text-align: center; /*Alinhando o texto da legenda no centro*/
    transition: transform 0.8s ease; /*Adicionando uma transição que será usada ao passar o mouse por cima*/
    background-color: black;/*Adicionando uma cor de fundo*/
    margin: 2px;
}

.jogos button{
    width: 100%;
}

/*Diminuindo a escala dos itens da lista ao passar o mouse por cima */
.jogos li a :hover{
    border: 5px solid rgb(238, 147, 11);
    transition: 0.5s ;
    transform: scale(0.97);
}

.carrossel{
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    display: flex;
    margin: auto;
    width: 60%;
}

#carouselExampleControls {
    border-radius: 20px;
    width: 70%;
}

.carousel-item img {
    border-radius: 20px;
    height: 650px;
}


/*Definindo uma largura e altura que a div menu-jogos vai ficar dentro da div carrosel e aplicando uma cor da fonte*/
.menu-jogos{
    width: 30%;
    height: 100vh;
    color: white;
}

/*Aplicando estilo nos itens da lista dentro da div menu-jogos*/
.menu-jogos li{
    padding-left: 16px; /*Definindo um espaçamento interno à esquerda*/
    height: 90px; /*Definindo uma altura dos itens da lista */
    display: flex; /*Definindo um displey flex para usar um layout responsivo*/
    align-items: center; /*Alinhando os itens no centro em relação à vertical*/
    flex-wrap: wrap;
}

/*aplicando estilo nas imagens que estão dentro da div menu-jogos*/
.menu-jogos img{
    border-radius: 10px; /*Deixando borda redonda*/
    width: 60px; /* Ajuste a largura da imagem conforme necessário */
    height: 80px;/*ajustando a altura da imagem*/
}

/*Aplicando um espaçamento interno no texto dos jogos que estão no menu de jogos*/
.texto-jogos{
    padding: 10px;
}

/*Definindo uma largura e altura que a div menu-imagens vai ficar dentro da div carrosel*/
.menu-imagens{
    width: 70%;
    height: 100vh;
}

/*Fazendo as imagens ocuparem todo o tamanho da div menu-imagens e deixando a borda redonda*/
.menu-imagens img{
    height: 100%;
    border-radius: 20px;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.containerLogin{
    width: 60%;
    height: 75%;
    margin: auto;
    position: relative;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(32, 32, 32);
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(238, 147, 11);
}
.containerLogin form{
    margin: 15px;
}
.containerLogin .bottom{
    margin: 20px 15px;
}
.containerLogin .col{
    margin-bottom: 15px;
}
.container form {
    margin: 15px;
}
.containerLogin h1{
    font-family: var(--fonte-padrao);
}
.containerLogin a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
@media  only screen and (max-width: 700px){
    .containerLogin{
        min-width: 360px;
        width: 80%;
        height: 82%;
        margin: auto;
        position: relative;
        top: 5%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: rgb(32, 32, 32);
        text-align: center;
        border-radius: 20px;
    }
}
@media  only screen and (min-width: 992px){
    .containerLogin .btn{
        position: relative;
        top: 30px;
    }
    .containerLogin .cadastro{
       position: relative;
       top: 60px;
    }
    
}

.formulario{
    background-color: rgb(32, 32, 32);
    width: 50%;
    margin: auto;
    margin-top: 30px;
    color: white;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid rgb(238, 147, 11);
}

.formulario .container{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
}

.formulario form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    margin: auto;
}

.list-group{
    border: 2px solid gray;
    border-radius: 5px;
}

 .list-group-item-action{

    background-color: rgb(32, 32, 32);
    color:  rgb(238, 147, 11);
 }

 #containerJogos{
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 #titulojogos{
    font-size: 50px;
 }

 .jogos{
    width: 100%;
 }

 .categorias{
    margin-bottom: 20px;
 }

    
