*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'jogos';
    src: url(fontes/HeadlinerNo.45\ DEMO.ttf);
    font-weight: normal;
  }
  
  :root{
    --fonte-padrao: 'jogos', cursive;
  }

  h1{
    color: white;
  }
  

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: var(--fonte-padrao);
}

.barra-menu{
    background-color: rgb(32, 32, 32);
    display: flex;
    width: 100%;
    height: 10vh;
}
.barra-menu .menu a{
    font-size: 27px;
}
.barra-menu .botao-login a{
    font-size: 22px;
}

.logo{
    color: rgb(168, 166, 166);/*cor da fonte*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.logo h1{
    font-size: 35px;
    width: 100%;
}

.logo  p{
    font-size: 20px;
}
.img-logo{
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.img-logo img{
    width: 50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.menu li{
    display: inline;
    padding: 20px;
}
.menu li:hover{
    border-bottom: 4px solid rgb(238, 147, 11);
}

.menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(168, 166, 166);/*cor da fonte*/
}

.menu a:hover{
    color: white;
}

.botao-login{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-login a{
    font-size: 17px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(238, 147, 11);
    padding: 10px;
}

.botao-login a:hover{
    background-color: white;
    color: rgb(238, 147, 11);
}

.submenu{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
}

.submenu-lista{
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.submenu-lista ul{
    display: flex;
    flex-direction: row;
}

.submenu-lista li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
}

.submenu a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(168, 166, 166);
}

.submenu a:hover{
    color: white
}

.container-carrossel{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.carrossel{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
}

.menu-jogos{
    width: 30%;
    height: 100vh;
}

.menu-jogos{
    color: white;
}

.menu-jogos ul{
    height: 90vh;
}

.menu-jogos li{
    height: 100px;
    padding-left: 16px;
    height: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-jogos img{
    border-radius: 10px;
    width: 60px; /* Ajuste a largura da imagem conforme necessário */
    height: 80px;/*ajustando a altura da imagem*/
}

.texto-jogos{
    padding: 10px;
}

.menu-imagens{
    width: 70%;
    height: 100vh;
}

.menu-imagens img{
    height: 100%;
    border-radius: 20px;
    width: 100%;
}
#todosJogos{
    position: relative;
    top: 5vh;
    width: 80%;
    min-width: 380px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.h1{
    position: relative;
    top: 2vh;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: rgb(238, 147, 11);
    text-align: center;
}
#lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;

}
#lista a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#lista a:hover{
    text-decoration: underline;
    color: rgb(238, 147, 11);
}
#lista ul{
    display: flex;
    flex-wrap: wrap;
}
#lista li{
    padding: 10px;
    list-style-type: none;
}
.jogos{
    position: relative;
    top: 5vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.jogos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.jogos li{
    padding: 5px;
    list-style-type: none;
    color: rgb(238, 147, 11);
    text-align: center;
    transition: transform 0.8s ease;
}
.jogos li:hover{
    transform: scale(0.97);
}

.container-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.formulario{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    min-width: 40%;
    height: 80vh;
    border: 1px solid rgb(238, 147, 11);
}

.titulo-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grupo-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input label{
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

.input input{
    padding: 5px;
    border-radius: 20px;
}

.input select{
    text-align: center;
    width: 27vh;
    padding: 5px;
    border-radius: 20px;
}

.enviar-limpar{
    display: flex;
    justify-content: center;
}

.enviar-limpar input{
    display: flex;
}

#enviar, #limpar{
    width: 40%;
    background-color: rgb(238, 147, 11);
    color: white;
}

#enviar input:hover{
    cursor: pointer;
}