@font-face {
  font-family: 'jogos';
  src: url(fontes/HeadlinerNo.45\ DEMO.ttf);
  font-weight: normal;
}

:root{
  --fonte-padrao: 'jogos', cursive;
}

li{
    list-style: none;
}

li a {
    color: white;/*Cor da fonte da lista*/
    text-decoration: none;/*retirando os sublinhados dos links presentes na lista*/
    font-size: 18px;/*Fonte da lista*/
  }
  

#titulo{
    position: relative;
    left: 25%;
    font-family: var(--fonte-padrao);
    font-size: 22px;
    text-align: center;
    margin-top: 5vh;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#titulo h1{
    padding: 5px;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; ;   
     flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    margin-top: 5%;
  }

#sinopse{
    position: relative;
    width: 50%;
    min-width: 380px;
    max-width: 60%;
    max-height: 77%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    background-color: rgb(0,0,0);
    margin-bottom: 20vh;
    
   }
   .video{
    background-color: var(--cor5);
    margin: 0;
    padding-bottom: 50%;
    position: relative;
   }
  
  
   .video iframe{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 2%;
}

    
  #sinopse #sinopsejogo{/*fazendo a sinopse do jogo ficar oculta no inicio, com o posicionamento relativo, com uma largura de 70% e altura de 30 px. a cor de fundo de cor rgb e color do texto preta*/
    position: relative;
    background: rgb(0, 0, 0);
    color: white;
    width: 90%;
    text-align: justify;
    text-indent: 10px;
    display: none;
    margin: auto;
  
   }
   #sinopse #botomMostrar{
    margin: auto;
    text-align: center;
    position: relative;
    top: -1.5vh;
    background: rgb(238, 180, 19);
    width: 120px;
    color: black;
    border-radius: 10px;
    padding: 0px 8px 0px 8px ;
   }
   #sinopse #botomMostrar:hover{
    background: rgb(183, 196, 8);
   }
  
  #download{
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
    width: 50%;
    height: 50%;
    min-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    overflow: hidden;
  }
  #conteudoDownload{
    border: 1px solid rgb(185, 171, 171);
    min-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
  }
  #conteudoDownload h2,p{
    padding: 10px;
    color: aliceblue;
  }

  #conteudoDownload img{
    border-radius: 20px;
  }
  #download img{
    width: 30%;
    height: 30%;
  }

  #iconeBaixar{
    background-color: rgb(238, 147, 11);
    padding: 5px 20px ;
    border-radius: 10px;
  }
  
  #iconeBaixar:hover{
    background-color: rgb(196, 168, 8);
  }
  #tiposDownload{
    margin: auto;
    text-align: center;
    display: none;
    position: relative;
    padding: 0px;
  }
  #tiposDownload a:hover{
     border-bottom: 5px solid rgb(238, 147, 11);
  }

  #tituloGamePlay h1{
    margin: 3vh 0vh 3vh 0vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    color: aliceblue;
  }

  #fotoGamePlay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  #fotoGamePlay img{
    width: 350px;
    padding: 10px;
    transition: all 0.4s ease;
  }
  #fotoGamePlay img:hover{
    transform: scale(1.1);
  }

  #gameplay{
    height: 300px;
  }
