*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'jogos';
    src: url(fontes/HeadlinerNo.45\ DEMO.ttf);
    font-weight: normal;
  }
  
  :root{
    --fonte-padrao: 'jogos', cursive;
  }
  

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: var(--fonte-padrao);
}

.barra-menu{
    background-color: rgb(32, 32, 32);
    display: flex;
    width: 100%;
    height: 10vh;
}
.barra-menu .menu a{
    font-size: 27px;
}
.barra-menu .botao-login a{
    font-size: 22px;
}

.logo{
    color: rgb(168, 166, 166);/*cor da fonte*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.logo h1{
    font-size: 35px;
    width: 100%;
}

.logo  p{
    font-size: 20px;
}
.img-logo{
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.img-logo img{
    width: 50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.menu li{
    display: inline;
    padding: 20px;
}
.menu li:hover{
    border-bottom: 4px solid rgb(238, 147, 11);
}

.menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(168, 166, 166);/*cor da fonte*/
}

.menu a:hover{
    color: white;
}

.botao-login{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-login a{
    font-size: 17px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgb(238, 147, 11);
    padding: 10px;
}

.botao-login a:hover{
    background-color: white;
    color: rgb(238, 147, 11);
}

.submenu{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
}

.submenu-lista{
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.submenu-lista ul{
    display: flex;
    flex-direction: row;
}

.submenu-lista li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
}

.submenu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(168, 166, 166);
}

.submenu a:hover{
    color: white
}

.container-carrossel{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

.carrossel{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
}

.menu-jogos{
    border: 1px solid green;
    width: 30%;
    height: 100vh;
}

.menu-jogos{
    color: white;
}

.menu-jogos ul{
    height: 90vh;
}

.menu-jogos li{
    height: 100px;
    border: 1px solid red;
    padding-left: 16px;
    height: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-jogos img{
    border-radius: 10px;
    width: 60px; /* Ajuste a largura da imagem conforme necessário */
    height: 80px;/*ajustando a altura da imagem*/
}

.texto-jogos{
    padding: 10px;
}

.menu-imagens{
    width: 70%;
    height: 100vh;
}

.menu-imagens img{
    height: 100%;
    border-radius: 20px;
    width: 100%;
}

