@media only screen and (max-width: 856px){
    .carrossel{
        display: flex; /*Deixando o display da div carrossel responsivo*/
        flex-direction: column; /*Forçando os itens a ficarem em forma de coluna*/
        width: 80%; /*Preenchendo toda a largura*/
    }

    #carouselExampleControls{
        width: 100%; /*Preenchendo toda a largura*/
    } 

    .menu-jogos{
         width: 100%; /* Preenchendo toda a largura*/
        height: 100%;  /*Definindo um tamanho da div*/
        display: flex; /*Deixando o display flexivel para usar layout responsivo*/
        justify-content: center; /*Centralizando os itens na horizontal*/ 
    }
}
@media screen and (max-width: 650px){
   .container .pesquisa{
       display: flex; /*Deixando o display flexivel para usar layout responsivo*/

   }
    
}

@media screen and (max-width: 752px){
    .formulario{
        width: 80%; /*Preenchendo toda a largura*/
    }
}
