
@media only screen and (max-width: 864px){
    .carrossel{
        display: flex;
        flex-direction: column;
    }

    .menu-imagens {
        height: 80vh;
        width: 100%;
    }

    .menu-jogos{
        padding: 20px;
        width: 100%;
    }
    .menu-jogos li{
        justify-content: center;
    }

    .logo h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 557px){
    .submenu a{
        font-size: 19px;
    }
}

