*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: 'jogos';
    src: url(fontes/HeadlinerNo.45\ DEMO.ttf);
    font-weight: normal;
  }
:root{
    --cor: rgb(238, 147, 11);
    --cor1:white;
    --cor2: rgb(224, 168, 84);
    --fonte-padrao: 'jogos', cursive;
}

body{
    width: 100%;
    background-color: rgb(24, 22, 22);
    color: var(--cor);
    font-family: var(--fonte-padrao)
}
h1{
    color: var(--cor1);
}
p{
    color: var(--cor2);
}
a{
    text-decoration: none;
    color: var(--cor);
}

header{
    width: 100%;
}

main{
    position: relative;
    top: 8vh;
    width: 100%;
    min-width: 380px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 .categorias{
    width: 30%;
    min-width: 200px;
    max-width: 20%;
    height: 74%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(153, 150, 150);
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
}
.categorias a{
    font-size: 18px;
}
.categorias td{
    padding: 3px;
}
.categorias a:hover{
    color: white;
    text-decoration: underline;
}
#containerJogos{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

#containerJogos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#containerJogos li{
    margin: 3px;
}

#h1jogos{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#h1jogos h1{
    font-size: 50px;
}
.jogos{
    display: flex;
    width: 100%;
    height: 80vh;
}

#containerJogos p {
    text-align: center;
    font-size: 18px;
}



a :hover{
    border: 5px solid rgb(238, 147, 11);
    transition: 0.5s ;
    transform: scale(0.97);
}