*{
    margin: 0%; /*definindo margem em 0*/
    padding: 0%; /*definindo margem em 0*/
}

@font-face {
    font-family: 'jogos'; /*definindo a fonte*/
    src: url(fontes/HeadlinerNo.45\ DEMO.ttf); /*definindo a fonte buscando ela pela url*/
    font-weight: normal; /*definindo o peso da fonte*/
  } 
:root{ /*root é utilizado para definir variáveis globais*/
    --cor: rgb(238, 147, 11); /*definindo uma cor global da fonte*/
    --cor1:white; /*definindo uma cor2 global da fonte*/
    --cor2: rgb(224, 168, 84); /*definindo uma cor3 global da fonte*/
    --fonte-padrao: 'jogos', cursive; /*definindo a fonte global*/
}

body{
    width: 100%; /*definindo a largura da página*/
    background-color: rgb(24, 22, 22); /*definindo a cor de fundo da página*/
    color: var(--cor); /*definindo a cor da fonte da página*/
    font-family: var(--fonte-padrao) /*definindo a fonte da página*/
}
h1{
    color: var(--cor1); /*definindo a cor da fonte do h1 da página*/
}
p{
    color: var(--cor2); /*definindo a cor da fonte do p da página*/
}
a{
    text-decoration: none; /*removendo o sublinhado dos links*/
    color: var(--cor); /*definindo a cor da fonte dos links*/
}

header{
    width: 100%; /*definindo a largura da div header*/
}

main{
    position: relative; /*Deixando a posição da div relativa*/
    top: 8vh; /*Definindo uma distância do topo*/
    width: 100%; /*definindo a largura da div main*/
    min-width: 380px; /*definindo a largura mínima da div main*/
    height: 100vh; /*definindo a altura da div main*/
    margin: auto; /*Deixando a div main centralizada*/
    display: flex; /*Adicionando um display flex para usar layout responsivo*/
    justify-content: center; /*Alinhando os itens da div main no centro em.MockMvc*/
    flex-wrap: wrap; /*Forçando os itens a quebrarem quando chegar em sua largura mínima*/
}
 .categorias{
    width: 30%; /*definindo a largura da div categorias*/
    min-width: 200px; /*definindo a largura mínima da div categorias*/
    max-width: 20%; /*definindo a largura máxima da div categorias*/
    min-height: 50%; /*definindo a altura mínima da div categorias*/
    display: flex; /*Adicionando um display flex para usar layout responsivo*/
    flex-direction: column; /*Deixando os itens se comportando como coluna*/
    border: 1px solid rgb(153, 150, 150); /*Deixando a borda da div categorias*/
    border-radius: 0px 20px 20px 0px; /*Deixando a borda redonda da div categorias*/
    padding: 10px; /*Deixando o espaçamento interno da div categorias*/
}
.categorias a{
    font-size: 18px; /*Aumentando o tamanho da fonte*/
}
.categorias td{
    padding: 3px; /*Deixando o espaçamento interno da div categorias*/ 
}
.categorias a:hover{
    color: white; /*Aplicando uma cor da fonte ao passar o mouse por cima*/
    text-decoration: underline; /*Aplicando um efeito de sublinhado ao passar o mouse por cima*/
}
#containerJogos{
    width: 70%; /*definindo a largura da div containerJogos*/
    display: flex; /*Adicionando um display flex para usar layout responsivo*/
    flex-wrap: wrap; /*Forçando os itens a quebrarem quando chegar em sua largura mínima*/
}

#containerJogos ul{
    display: flex; /*Deixando o display flex para usar layout responsivo*/
    flex-wrap: wrap; /*Forçando os itens a quebrarem quando chegar em sua largura electromecanica*/ 
    justify-content: center; /*Aliando os itens no centro*/
    width: 100%; /*Definindo a largura da div containerJogos*/
}

#containerJogos li{
    margin: 3px; /*Deixando o espaçamento interno da div containerJogos*/ 
    background-color: black; /*Aplicando uma cor de fundo*/
}

#h1jogos{
    display: flex; /*Deixando o display flex para usar layout responsivo*/
    flex-direction: column; /*Deixando os itens se comportando como coluna*/
    height: 10vh; /*Definindo a altura da div h1jogos*/
    justify-content: center; /*Aliando os itens no centro */
    align-items: center; /*Aliando os itens no centro */
    width: 100%; /*Definindo a largura da div h1jogos*/
}

#h1jogos h1{ 
    font-size: 50px; /*Aumentando o tamanho da fonte*/
}
.jogos{
    display: flex; /*Deixando o display flex para usar layout responsivo*/
    width: 100%; /*Definindo a largura da div jogos*/
    height: 80vh; /*Definindo a altura da div jogos*/
}

#containerJogos p { 
    text-align: center; /*Centralizando o texto*/
    font-size: 18px; /*Aumentando o tamanho da fonte*/
}



a :hover{
    border: 5px solid rgb(238, 147, 11); /*Aplicando uma borda ao passar o mouse por cima*/
    transition: 0.5s ; /*Aplicando uma transtion ao passar o mouse por cima*/
    transform: scale(0.97); /*Aplicando uma escala ao passar o mouse por cima*/
}
.favorite-button{
    width: 100%; /*Definindo a largura da div favorite-button*/
}